<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--input</key>
	<array>
		<string>ptnartifacts</string>
	</array>
	<key>--ignore</key>
	<array>
		<string>NSAttributedString+PTNAttributes.h</string>
		<string>Tester</string>
		<string>*Tests</string>
		<string>PTNTestApp</string>
		<string>.m</string>
	</array>
	<key>--project-company</key>
	<string>Peter Gusev</string>
	<key>--project-name</key>
	<string>PTNArtifacts</string>
	<key>--company-id</key>
	<string>com.peetonn</string>
	<key>--output</key>
	<string>Documentation</string>
	<key>--create-docset</key>
	<false/>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
</dict>
</plist>
